{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {eredis, "1.2.0"},
    {lager, "3.8.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [funbox]}
]}.

{provider_hooks, [
  {pre, [
    {compile, {rust, compile}}
  ]}
]}.

{plugins, [
  {rebar3_rust, {git, "https://gitlab.com/Regikul/rebar3_rust.git", {branch, "master"}}}
]}.
